PORT=8080
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME=nemesis
JWT_SECRET=changeme-to-a-strong-random-secret
JWT_EXPIRY=24h
